output_as_info = no
[source]
type = local
keep = {{ duree_conserv_fichiers }}
{{ a_inclure }}
{{ a_exclure }}
[dest]
type = remote
directory = /backup/{{ inventory_hostname }}
host = {{ serveur_de sauvegardes }}
user = {{ utilisateur_unix }}
